<section class="sec-login">
  <div class="form-login">
    <h2>Login to your account</h2>

    <% if flash[:alert] %>
      <div class="error-msg"><%= flash[:alert] %></div>
    <% end %>

  <%= form_with url: login_path do |f| %>
    <div>
      <%= label_tag :email %>
      <%= email_field_tag :email %>
    </div>
    <div>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <%= submit_tag "Login now" %>
  <% end %>

  <div><p>Don't have an account?</p><%= link_to "Sign Up", signup_path %></div>
  </div>
</section>

