<p style="color: green"><%= notice %></p>

<h1><%= @post.title %></h1>

<p><%= simple_format(@post.content) %></p>

<p><strong>Author:</strong> <%= @post.user.email if @post.user %></p>

<hr>

<div>
  <% if current_user == @post.user %>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
    <%= button_to "Delete post", @post, method: :delete, data: { confirm: "Are you sure?" } %> |
  <% end %>

  <%= link_to "Back to posts", posts_path %>
</div>
